* {
    margin: 0;
    box-sizing: border-box;
	text-align: center;
	
	
	

   
}

.total__div--margin {
	width: 90%;
	margin: auto;
	border-radius: 10px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.header__container {
    background: #06d6a0;
    padding: 20px;
	border: 2cap solid #073B4C;
	border-bottom:5px solid #073B4C;
	color: #073B4C;
	border-radius: 10px 10px 0px 0px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.total__section--container {
    text-align: center;
}



/* item shaper */

.item {
    
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}



.item__add {
    position: absolute;
    right: 10px;
}

.item__text {
    width: 50%;
}
/* Emoji */
.emoji__icon {
    width: 50px;
    height: 100%;
}

/* button */
.myButton {
	box-shadow: 0px 4px 7px -5px #000000;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:9px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}


/* purchase box */

/*.purchase__container {
    display: none;
} */

.show {
	display: block;
}



.total__items--container {

	margin-left: 7%;
	

}


.purchase__order--total {
	border-bottom: 1px solid #073B4C;
	
}

.total-order {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	
	
	
}

.total-order1 {
	background-color:#06d6a0;
	padding: 10px;
	border: 1px solid black;
	border-top: 5px solid #073B4C;
	border-radius: 0 0 10px 10px;


}
.purchase__container {
	text-align: center;
	position: relative;
}

.total__order--total {
	border-bottom: 1px solid #073B4C;
}

.total__order--amount {
	border-bottom: 1px solid #073B4C;
}

.puchase__order--item {
	min-width: 50px;
}

.remove {
	display: none;
}

.opacitiy {
	opacity: 0.5;
}

/* cart sytle */

.purchace__item--class {
	display: flex;
	gap: 5px;
	margin: 10px;
	background: rgb(224, 224, 224);
	padding: 10px;
	justify-content: space-around;
	flex-grow: inherit;
	border-radius: 10px;

}



/* making remove same size */

#remove1 {
	margin-left: -5px;
	display: inline-block;
}

#remove2 {
	margin-left: -4px;
	display: inline-block;
}
#remove3 {
	margin-left: -3px;
	display: inline-block;
}

/* style buttons */

.btn {
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	
	background-color:#06d6a0;
	border: none;
	border-radius: 10px;
	color: #073B4C;
	padding: 5px 5px;
	
	border: #06d69ede 1px solid;

}


.btn:hover {
	
	background-color:#067558;
	color: #FFFFFF;
}
.btn:active {
	position:relative;
	top:1px;
}


/* divider */

.divider {
	width: 20%;
	height: 2px;
	background-color: #88A096;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.modal {
	position: fixed;
	width: 50%;
	height: 50%;
	top: 50%;
	left: 50%;
	margin-top: -25%; 
	margin-left: -25%; 
	border: 1px solid;
	margin: auto auto;
	top: 20%;
	left: 20%;
	background: #06d6a0;
	display: none;
	box-shadow: 15px 0px 400px 106px rgba(8, 117, 22, 0.94);
-webkit-box-shadow: 15px 0px 400px 106px rgba(8, 117, 22, 0.94);
-moz-box-shadow: 15px 0px 400px 106px rgba(8, 117, 22, 0.94);
	font-weight: bolder;

}

.modal p, h1 {
	padding: 10px;
	color: #073B4C;
	
}

.modal h1 {
	font-size: 40px;
}

.modal p {
	font-size: 20px;
}

.qnt__par {
	display:inline
   }

@media screen and (max-width: 480px) {
	.qnt__par {
	 display:none
	}

	
  }

  .purchase_btn {
	
  background-color: initial;
  
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
	background-color: #073B4C;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 9;
  border: 0;
  width: 40%;

  
}

.purchase_btn:hover {
  background: #af2525;
}
  
.btn-back {
	font-size: 20px;
	background-color: #073B4C;
	color: #ffffff;
}